@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-image: url("read-g22b2f69a9_1920.png");
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.boxCard {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.205);
    border: 1px solid #ffffff94;
}

.card {
    background: #FFF;
    height: 445px;
    width: 500px;
    overflow: hidden;
    background-color: #efecec9c;
    box-shadow: 0px 2px 18px #b2b3fb5e;
}

.mediaCard {
    background: url(alone.png) center/cover;
    height: 200px;
    width: 100%;
}

.topCard {
    padding: 20px;
    padding-top: 0px;
}

.bottomCard {
    padding: 20px;
}

button.actions {
    background: none;
    border: none;
    color: #9bafb8;
}

p.bottomtext {
    color: #84a3b0;
}

span.secondText {
    color: #88a6bf;
}

h2.title {
    color: #87a7b0;
}
